<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../assets/resources/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{title}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star" style="color:gold ;"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web Development Full-Stack</p>
        <!-- About Section Button-->

     
        <div class="dropdown mt-4">
            <button class="btn btn-xl btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-download me-2"></i>
                Downlaod my Resume!
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item btn btn-xl btn-outline-light" href="../../../assets/en_hector_santos.pdf" target="_blank">English</a></li>
                <li><a class="dropdown-item btn btn-xl btn-outline-light" href="../../../assets/es_hector_santos.pdf" target="_blank">Spanish</a></li>
               
            </ul>
        </div>
        
        
    </div>
</header>
