<section class="page-section bg-primary text-white mb-0 mt-4" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star" style="color: gold;"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
   
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">I'm Hector Santos,
                I'm Web development Full-Stack, I got two years coding in differents technologies and I am still learning new things
                until turn into a web development's wizard🧙‍♂️ .</p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">Go ahead and figure out what technologies I can handle.😎</p>
            </div>
        </div>
      
    </div>
</section>